@import 'event';
@import 'footer';
@import 'inscription';
@import 'intervenants';
@import 'sponsors';

section {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 6rem 0;

  &.fullscreen {
    min-height: 100vh;
    width: 100vw;
  }

  h1 ~ p {
    font-size: 1.3rem;
    width: 100%;
  }

  @include media-breakpoint-down(md) {
    padding: 6rem 2rem;
  }
}
