@import "base/_variables";

@import "~bootstrap";
@import "~@fortawesome/fontawesome-free";

@import "~slick-carousel/slick/slick";
@import "../css/custom-slick-theme.css";

@import "sections/index.d";

@import "components/navbar";

html, body {
  overflow-x: hidden;
  width: 100vw;
  scroll-behavior: smooth;
}
